﻿
@{
    ViewBag.Title = "AdminForm";
}

<h3>Listado de productos </h3>
@*@model List<>*@



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Descirption</th>
            <th scope="col">Price Product</th>
            <th scope="col">Stock</th>
            <th scope="col">Image</th>
            <th></th>

        </tr>
    </thead>

    <tbody id="ListProds">
        @{ Html.RenderPartial("_ProductsPartial"); }
    </tbody>
</table>

@*BOTON MODAL AÑADIR*@
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
    Añadir un producto
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Añade un producto</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- CONTENIDO -->
                <div class="jumbotron boxlogin">
                    <form name="form" id="form" method="post">
                        <label>Nombre del producto:</label>
                        <input type="text" name="Name" id="Name" class="form-control" placeholder="Nombre">
                        <label>Descripción del producto:</label>
                        <input type="text" name="Description" id="Description" class="form-control" placeholder="Descripción">
                        <label>Precio del producto</label>
                        <input type="text" name="PriceProduct" id="PriceProduct" class="form-control" placeholder="Precio">
                        <label>Stock a añadir</label>
                        <input type="text" name="Stock" id="Stock" class="form-control" placeholder="Stock">
                        <label>Imagen del producto</label>
                        <input type="file" name="Image" id="Image" class="form-control" placeholder="Imagen">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>




<script>
   
    $('#form').submit(function (e) {

        data = Common.ConvertToJson(this);
        Common.Ajax("POST", "Products/PostProduct", data, dataInserted);
        return false;
    });

    function dataInserted() {
        window.onload();
        $('#exampleModal').modal('hide');
        console.log("Hola");
    }
    function viewData(result) {

        $("#ListProds").html(result);
        console.log("Los datos solo los muestro");

    }


    window.onload = function AJAX() {
        var url = 'AdminProducts/TableAll'//cadena de conex
        Common.Ajax('GET', url, null, viewData); //llamada a ajax

    }
      

    function updateModal(id) {
        $('#exampleModal').modal('show');
        var url = 'Products/SearchId'
        Common.Ajax('GET', url, id, showModal );
        
    }

   

    function showModal() {




    }

</script>