﻿
@{
    ViewBag.Title = "AdminProducts";
}

<h2>Listado de productos </h2>

@*BOTON MODAL AÑADIR*@
<!-- Button trigger modal -->

<button type="button" class="btn btn-success" style="float:right; margin: 10px 0;" data-toggle="modal" data-target="#exampleModal">
    Añadir un producto
</button>



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price Product</th>
            <th scope="col">Stock</th>
            <th></th>

        </tr>
    </thead>

    <tbody id="ListProds"></tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Añade un producto</h2>
                <button type="button" class="close" aria-label="Close" onclick="resetModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- CONTENIDO -->
                <div class="jumbotron boxlogin">
                    <form name="form" id="form" method="post">
                        <input type="hidden" name="Id" id="Id" class="form-control" required="required" placeholder="Id" value="0">
                        <label>Nombre del producto:</label>
                        <input type="text" name="Name" id="Name" class="form-control" required="required" placeholder="Nombre">
                        <label>Descripción del producto:</label>
                        <input type="text" name="Description" id="Description" class="form-control" required="required" placeholder="Descripción">
                        <label>Precio del producto</label>
                        <input type="text" name="PriceProduct" id="PriceProduct" class="form-control" required="required" placeholder="Precio">
                        <label>Stock a añadir</label>
                        <input type="text" name="Stock" id="Stock" class="form-control" required="required" placeholder="Stock">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="resetModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/Site/AdminProducts.js"></script>
}

