﻿@model List<eshop.Core.Order>
@{
    ViewBag.Title = "AdminOrders";
}

<h2>Listado de pedidos</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Number of lines</th>
            <th scope="col">State</th>
            <th scope="col">Order creation</th>
            <th></th>

        </tr>
    </thead>

    <tbody id="listOrders">
        @foreach (var order in Model)
        {
            <tr>
                <td class="id">@order.Id</td>
                <td class="email">@order.AspNetUsers.Email</td>
                <td class="lineordercount">@order.LineOfOrder.Count</td>
                <td class="state">@(Enum.GetName(typeof(eshop.DAL.eshopENUM.TypeState), order.StateId))</td>
                <td class="orderCreation">@order.DateOrderCreation</td>
                <td> <a href="#" class="btn btn-primary act" >Editar</a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript" src="~/Scripts/Site/AdminOrders.js"></script>
}