﻿@model List<eshop.Core.AspNetUsers>
@{
    ViewBag.Title = "AdminUsers";
}

<h2>Listado de usuarios</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th></th>
        </tr>
    </thead>

    <tbody id="listUsers">
        @foreach (var user in Model)
        {
            <tr>
                <td class="id">@user.Id</td>
                <td class="userName">@user.UserName</td>
                <td class="email">@user.Email</td>
                <td class="role">@user.AspNetRoles.First().Name</td>
                <td> <a href="#" class="btn btn-primary act"  onclick="changeRole('@user.Id')">Change to Admin/Client</a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript" src="~/Scripts/Site/AdminUsers.js"></script>
}
