﻿@model eshop.Core.Order
@{
    ViewBag.Title = "EndOrder";
}

<h2>EndOrder</h2>
<div class="basket">
    <div class="basket-labels">
        <ul class="ul-header">
            <li class="li-generic item item-heading">Item</li>
            <li class="li-generic price">Price</li>
            <li class="li-generic quantity">Quantity</li>
            <li class="li-generic subtotal">Subtotal</li>
        </ul>
    </div>
    @{double totalPrice = 0; }
    @foreach (var item in Model.LineOfOrder)
    {
        totalPrice += item.Price * item.Quantity;
        <div class="basket-product">
            <div class="item">
                <div class="product-image">
                    @if (item.Product.Image.Count == 0)
                    {
                    <img src="http://placehold.it/120x166" alt="Placholder Image " class="product-frame">
                    }
                    else
                    {
                        <img src="~/Content/Images/@item.Product.Image.ToList()[0].Name" alt="Placholder Image " style="width:120px;height:166px;" class="product-frame">
                    }
                </div>
                <div class="product-details">
                    <strong><span class="item-quantity">@item.Quantity x</span> @item.Product.Name</strong>
                    <h1><p>@item.Product.Description</p></h1>
                    <p>Product Code - @item.ProductId</p>
                </div>
            </div>
            <div class="price">@item.Price</div>
            <div class="quantity">
                <input type="number" value="@item.Quantity" min="1" class="quantity-field">
            </div>
            <div class="subtotal">@(item.Price * item.Quantity)</div>
            <div class="remove" data-id="@item.Id">
                <button>Remove</button>
            </div>
        </div>
    }
</div>
<aside>
    <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
        <div class="summary-subtotal">
            <div class="subtotal-title">Subtotal</div>
            <div class="subtotal-value final-value" id="basket-subtotal">@totalPrice </div>
            <div class="summary-promo hide">
                <div class="promo-title">Promotion</div>
                <div class="promo-value final-value" id="basket-promo"></div>
            </div>
        </div>
        <div class="summary-delivery">
            <select name="delivery-collection" class="summary-delivery-selection">
                <option value="0" selected="selected">Select Collection or Delivery</option>
                <option value="collection">Collection</option>
                <option value="first-class">Royal Mail 1st Class</option>
                <option value="second-class">Royal Mail 2nd Class</option>
                <option value="signed-for">Royal Mail Special Delivery</option>
            </select>
        </div>
        <div class="summary-total">
            <div class="total-title">Total</div>
            <div class="total-value final-value" id="basket-total">@totalPrice</div>
        </div>
        <div class="summary-checkout">
            @if (Model.LineOfOrder.Count != 0)
            {

                <button class="checkout-cta" data-toggle="modal" data-target="#modalCard">Go to Secure Checkout</button>

            }
        </div>
    </div>
</aside>
<div class="modal fade" id="modalCard" tabindex="-1" role="dialog" aria-labelledby="modalCardLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <form id="formCard">
                <div class="form-container">
                    <div class="personal-information">
                        <h1>Payment Information</h1>
                    </div> <!-- end of personal-information -->
                    <input id="column-left" type="text" name="first-name" placeholder="First Name" />
                    <input id="column-right" type="text" name="last-name" placeholder="Surname" />
                    <input id="input-field" type="text" name="number" placeholder="Card Number" />
                    <input id="column-left" type="text" name="expiry" placeholder="MM / YY" maxlength="7"/>
                    <input id="column-right" type="text" name="cvc" placeholder="CCV" />

                    <div class="card-wrapper"></div>

                    <input id="input-field" type="text" name="streetaddress" required="required" autocomplete="on" maxlength="45" placeholder="Streed Address" />
                    <input id="column-left" type="text" name="city" required="required" autocomplete="on" maxlength="20" placeholder="City" />
                    <input id="column-right" type="text" name="zipcode" required="required" autocomplete="on" pattern="[0-9]*" maxlength="5" placeholder="ZIP code" />
                    <input id="input-button" type="submit" value="Submit" />

                </div>
            </form>
        </div>
    </div>
</div>

<script>


</script>
@section scripts{
    <script type="text/javascript" src="~/Scripts/Site/EndOrder.js"></script>

}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/EndOrder.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/card.css" />
}
