﻿@model eshop.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Gestionar";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Cambiar la configuración de la cuenta</h4>
    <hr />
    <div class="animated w-100 fadeIn slow row">
        <div class="titleProfile d-flex flex-column  profileCard col-md-6 col-xl-6">
            <img src="~/Content/Images/user.svg" style="width:30%;" class="imgprofile mx-auto d-block">
            <h1 class="animated text-center">@User.Identity.Name</h1>
            @if (User.IsInRole("Admin"))
            {
                <span class="badge badge-info badgeInfoUser mx-auto d-block">Administrator</span>
            }
            else
            {
                <span class="badge badge-info badgeInfoUser mx-auto d-block">Client</span>
            }

        </div>
        <div class="d-flex flex-column  contentProfile col-md-6 col-xl-6">
            <div class="d-flex  flex-row p-2">
            <span class="font-weight-bold pr-2">Email</span>
            <span class="font-weight-normal">@Model.Email</span>
        </div>
            <div class="d-flex  flex-row p-2">
                <span class="font-weight-bold pr-2">Phone</span>
                <span class="font-weight-normal">+34 @Model.PhoneNumber</span>
            </div>
            <div class="d-flex  flex-row p-2">
                <span class="font-weight-bold pr-2">Password</span>
                <span class="font-weight-normal">**********</span>
            </div>
            <div class="d-flex  flex-row p-2">
                <span class="font-weight-bold pr-2">External logins</span>
                <span class="font-weight-normal">@Model.Logins.Count</span>
            </div>
            <div class="d-flex  flex-row p-2">
                <span class="font-weight-bold pr-2">Two factor</span>
                <span class="font-weight-normal">@Model.TwoFactor</span>
            </div>
        </div>

    </div>
    <dl class="dl-horizontal">
        <dt>Pedidos:</dt>
        <dd>@Html.ActionLink("Ver pedidos", "Orders")</dd>
        <dt>Contraseña:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Crear", "SetPassword")
            }
            ]
        </dd>
        @*
            Los números de teléfono se pueden usar como una segunda fase de comprobación en un sistema de autenticación en dos fases.

             Consulte <a href="https://go.microsoft.com/fwlink/?LinkId=403804">este artículo</a>
                para obtener detalles sobre cómo configurar esta aplicación ASP.NET para que sea compatible con la autenticación en dos fases mediante SMS.

             Quite la marca de comentario de los bloques siguientes después de configurar la autenticación en dos fases.
        *@
        @*
            <dt>Número de teléfono:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Quitar" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        
    </dl>
</div>
