﻿@{
    ViewBag.Title = "Pedidos";
}

<h2>@ViewBag.Title.</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Lineas de pedido</th>
            <th scope="col">Estado del pedido</th>
            <th scope="col">Fecha de creacion</th>
            <th scope="col">Fecha de modificacion </th>

        </tr>
    </thead>

    <tbody id="listOrders"></tbody>
</table>

@section scripts{
    <script type="text/javascript" src="~/Scripts/Site/Orders.js"></script>
}