﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("styles", required: false)
    <script type="text/javascript" src="~/Scripts/card.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            @Html.ActionLink("E-Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Admin"))
                    {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Administration
                        </a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("AdminProducts", "AdminProducts", "AdminProducts", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("AdminUsers", "AdminUsers", "AdminProducts", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("AdminOrders", "AdminOrders", "AdminProducts", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    }
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    @Html.Partial("_LoginPartial")
                    <li class="nav-item" style="position:relative;">
                        <a class="nav-link" style="height:100%; cursor:pointer;" id="cart">
                            <img style="width:20px;" src="~/Content/Images/cart.svg" />
                            @if ((eshop.Core.Order)Session["order"] != null)
                            {
                                var order = (eshop.Core.Order)Session["order"];
                                <span class="badge badge-count">@order.LineOfOrder.Count</span>
                            }
                            else
                            {
                                <span class="badge badge-count">0</span>
                            }

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="shopping-cart">

        </div> <!--end shopping-cart -->
        <div class="content">
            @RenderBody()
        </div>
        <div class="footer-content">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year Eshop Comapny</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/Ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        (function () {

            $("#cart").on("click", function () {
                var url = 'Home/GetCart';
                Common.Ajax('GET', url, null, 'html', showCart);
            });

        })();
        function showCart(result) {
            $('.shopping-cart').html(result);
            $(".shopping-cart").fadeToggle("fast");
        }
    </script>
</body>
</html>
