﻿@model  List<eshop.Core.Order>

@foreach (var order in Model)
{
    <tr>
        <td class="id">@order.Id</td>
        <td class="lineordercount">@order.LineOfOrder.Count</td>
        <td class="state">@(Enum.GetName(typeof(eshop.DAL.eshopENUM.TypeState), order.StateId))</td>
        <td class="orderCreation">@order.DateOrderCreation</td>
        <td class="orderModify">@order.DateOrderModification</td>
    </tr>
}
