﻿@model eshop.Core.Order

<div class="shopping-cart-header">
    <img style="width:20px;" src="~/Content/Images/cart.svg" />
    <div class="shopping-cart-total">
        <span class="lighter-text">Total:</span>
        @{double totalValue = 0; }
        @if (Model != null)
        {
            foreach (var lineOfOrder in Model.LineOfOrder)
            {
                { totalValue += (lineOfOrder.Price * lineOfOrder.Quantity); }
            }
        }
        <span class="main-color-text">@totalValue € </span>
    </div>
</div> <!--end shopping-cart-header -->
@if (Model != null && Model.LineOfOrder.Count!=0)
{
    foreach (var lineOfOrder in Model.LineOfOrder)
    {
        <ul class="shopping-cart-items">
            <li class="clearfix">
                @if (lineOfOrder.Product.Image.Count == 0)
                {
                    <img src="http://placehold.it/60x83" alt="Placholder Image " class="product-frame">
                }
                else
                {
                    <img src="~/Content/Images/@lineOfOrder.Product.Image.ToList()[0].Name" alt="Placholder Image " style="width:60px;height:83px;" class="product-frame">
                }

                <span class="item-name">@lineOfOrder.Product.Name</span>
                <span class="item-price">@(lineOfOrder.Quantity * lineOfOrder.Price) €</span>
                <span class="item-quantity">Quantity: @lineOfOrder.Quantity</span>
            </li>
        </ul>
    }
    @Html.ActionLink("Checkout", "EndOrder", "Orders", new { area = "" }, new { @class = "button" })
}
else
{
    <span>Empty cart</span>
}
