﻿@model List<eshop.Core.AspNetUsers>
@foreach (var user in Model)
{
    <tr>
        <td class="id">@user.Id</td>
        <td class="userName">@user.UserName</td>
        <td class="email">@user.Email</td>
        <td class="role">@user.AspNetRoles.First().Name</td>
        <td> <a href="#" class="btn btn-primary act" onclick="changeRole(@user.Id)">Change to Admin/Client</a></td>
    </tr>
}
