﻿@model  List<eshop.Core.Order>

@foreach (var order in Model)
{
    <tr>
        <td class="id">@order.Id</td>
        <td class="email">@order.AspNetUsers.Email</td>
        <td class="lineordercount">@order.LineOfOrder.Count</td>
        <td class="state">@(Enum.GetName(typeof(eshop.DAL.eshopENUM.TypeState), order.StateId))</td>
        <td class="orderCreation">@order.DateOrderCreation</td>
        <td> <a href="#" class="btn btn-primary act">Editar</a></td>

    </tr>
}
