﻿@model  List<eshop.Core.Product>

@foreach (var prod in Model)
{
    <tr>
        <td class="id">@prod.Id</td>
        <td class="name">@prod.Name</td>
        <td class="description">@prod.Description</td>
        <td class="price">@prod.PriceProduct</td>
        <td class="stock">@prod.Stock</td>
        <td> <a href="#" class="btn btn-primary act">Editar</a></td>

    </tr>
}
<script>
    $('a.act').on('click', function () {
    var myModal = $('#exampleModal');
    console.log('hola')
    // now get the values from the table
    var id = $(this).closest('tr').find('td.id').html();
    var name = $(this).closest('tr').find('td.name').html();
    var desc = $(this).closest('tr').find('td.description').html();
    var price = $(this).closest('tr').find('td.price').html();
    var stock = $(this).closest('tr').find('td.stock').html();


    // and set them in the modal:
    $('#Id', myModal).val(id);
    $('#Name', myModal).val(name);
    $('#Description', myModal).val(desc);
    $('#PriceProduct', myModal).val(price);
    $('#Stock', myModal).val(stock);


    // and finally show the modal
    myModal.modal('show');

    return false;
});
</script>