﻿@model  List<eshop.Core.Product>

@if (Model != null)
{
    <div class="card-deck">

        @{ var count = 0; }
        @foreach (var prod in Model) //guardamos la varaible entera mejor que for
        {
            <div class="card">
                <div id="carouselExampleControls@(prod.Id)" class="carousel slide" data-ride="carousel">
                    @if (prod.Image.Count > 0)
                    {
                    <div class="carousel-inner">
                        @{ var firstImg = 0; }
                        @foreach (var img in prod.Image)
                        {
                            if (firstImg == 0)
                            {
                                <div class="carousel-item active">

                                    <img class="d-block" style="width:270px;height:332px; margin-left:28%;" src="~/Content/Images/@img.Name" alt="">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">

                                    <img class="d-block" style="width:270px;height:332px; margin-left:28%;" src="~/Content/Images/@img.Name" alt="">
                                </div>
                            }
                            { firstImg++;}

                        }
                    </div>
                    
                
                        <a class="carousel-control-prev" href="#carouselExampleControls@(prod.Id)" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls@(prod.Id)" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    }
                    else
                    {
                        <div class="carousel-inner" style="display:flex; justify-content:center;">
                            <img class="d-block " src="http://placehold.it/270x332" alt="Placholder Image ">
                        </div>
                    }

                </div>


                <div class="card-body">
                    <div style="display:flex; justify-content:center;">
                        <h4 class="card-title">@prod.Name</h4>
                    </div>
                    <div style="display:flex;">
                        <strong style="width:25%">Description: </strong>
                        <p style="width:75%;" class="card-text">@prod.Description</p>
                    </div>
                    <div style="display:flex;">
                        <strong style="width:25%;">Price: </strong>
                        <span style="width:75%;">@prod.PriceProduct €</span>
                    </div>

                </div>
                <div class="card-footer">

                    @if (prod.Stock == 0)
                    {
                        <span style="color:red; font-weight:bold;">Product without stock.</span>
                    }
                    else
                    {
                        if (prod.Stock < 25)
                        {
                            <small style="color:orange; font-weight:bold;">Last units.</small>
                        }
                        <button class="btn btn-info" style="float:right;" onclick="addToCart(@prod.Id)">Add Product</button>
                    }
                </div>
                @{ count++;}

            </div>
            if (count % 2 == 0)
            {
            @:</div>


            @:<div class="card-deck">


            }
        }
    </div>

}



