﻿@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

html,
html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    margin: 0 auto;
}

a {
    border: 0 none;
    outline: 0;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

p {
    margin: 0.75rem 0 0;
}

h1 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
button {
    border: 0 none;
    outline: 0 none;
}

button {
    background-color: #666;
    color: #fff;
}

    button:hover,
    button:focus {
        background-color: #555;
    }

.product-image img,
.basket-module,
.basket-labels,
.basket-product {
    width: 100%;
}

input,
button,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
    float: left;
}

    .price:after,
    .subtotal:after,
    .subtotal-value:after,
    .total-value:after,
    .promo-value:after {
        content: '€';
    }

.hide {
    display: none;
}

main {
    clear: both;
    font-size: 0.75rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    width: 960px;
}

.basket,
aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket {
    width: 70%;
}

.basket-module {
    color: #111;
}

label {
    display: block;
    margin-bottom: 0.3125rem;
}

.promo-code-field {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: all 0.2s linear;
    width: 48%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

    .promo-code-field:hover,
    .promo-code-field:focus {
        border: 1px solid #999;
    }

.promo-code-cta {
    border-radius: 4px;
    font-size: 0.625rem;
    margin-left: 0.625rem;
    padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1.625rem;
}

.ul-header {
    list-style: none;
    margin: 0;
    padding: 0;
}

.li-generic {
    color: #111;
    display: inline-block;
    padding: 0.625rem 0;
}

    li.price:after,
    li.subtotal:after {
        content: '';
    }

.item {
    width: 55%;
}

.price,
.quantity,
.subtotal {
    width: 15%;
}

.subtotal {
    text-align: right;
}

.remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    width: 45%;
}

    .remove button {
        background-color: transparent;
        color: #777;
        float: none;
        text-decoration: underline;
        text-transform: uppercase;
    }

.item-heading {
    padding-left: 4.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket-product {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
}

.product-image {
    width: 35%;
}

.product-details {
    width: 65%;
}

.product-frame {
    border: 1px solid #aaa;
}

.product-details {
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.quantity-field {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 0.625rem;
    padding: 2px;
    width: 3.75rem;
}

aside {
    float: right;
    position: relative;
    width: 30%;
}

.summary {
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 1rem;
    position: fixed;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.summary-total-items {
    color: #666;
    font-size: 0.875rem;
    text-align: center;
}

.summary-subtotal,
.summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
    color: #111;
    float: left;
    width: 50%;
}

.summary-promo {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.promo-title {
    float: left;
    width: 70%;
}

.promo-value {
    color: #8B0000;
    float: left;
    text-align: right;
    width: 30%;
}

.summary-delivery {
    padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
    text-align: right;
}

.total-title {
    font-weight: bold;
    text-transform: uppercase;
}

.summary-checkout {
    display: block;
}

.checkout-cta {
    display: block;
    float: none;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0;
    width: 100%;
}

.summary-delivery-selection {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: block;
    font-size: 0.625rem;
    height: 34px;
    width: 100%;
}

@media screen and (max-width: 640px) {
    aside,
    .basket,
    .summary,
    .item,
    .remove {
        width: 100%;
    }

    .basket-labels {
        display: none;
    }

    .basket-module {
        margin-bottom: 1rem;
    }

    .item {
        margin-bottom: 1rem;
    }

    .product-image {
        width: 40%;
    }

    .product-details {
        width: 60%;
    }

    .price,
    .subtotal {
        width: 33%;
    }

    .quantity {
        text-align: center;
        width: 34%;
    }

    .quantity-field {
        float: none;
    }

    .remove {
        bottom: 0;
        text-align: left;
        margin-top: 0.75rem;
        position: relative;
    }

        .remove button {
            padding: 0;
        }

    .summary {
        margin-top: 1.25rem;
        position: relative;
    }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
    aside {
        padding: 0 1rem 0 0;
    }

    .summary {
        width: 28%;
    }
}

@media screen and (max-width: 960px) {
    main {
        width: 100%;
    }

    .product-details {
        padding: 0 1rem;
    }
}


/*Modal Card*/
.modal-content {
    background-color: rgba(178,209,229,0.7);
    width: 600px;
}

.form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    background-color: #6FB7E9;
    width: 100%;
    display: flex;
}

.personal-information {
    background-color: #3C8DC5;
    color: #fff;
    padding: 1px 0;
    text-align: center;
}
.modal-content h1 {
    font-size: 1.3em;
    font-family: "Roboto"
}


.modal-content input {
    margin: 1px 0;
    padding-left: 3%;
    font-size: 14px;
    box-sizing: initial;
    max-width: none;
}

    input[type="text"] {
        display: block;
        height: 50px;
        width: 97%;
        border: none;
    }

input[type="email"] {
    display: block;
    height: 50px;
    width: 97%;
    border: none;
}

    input[type="submit"] {
        display: block;
        height: 60px;
        width: 96%;
        border: none;
        background-color: #3C8DC5;
        color: #fff;
        margin-top: 2px;
        cursor: pointer;
        font-size: 0.9em;
        text-transform: uppercase;
        font-weight: bold;
        
    }

        input[type="submit"]:hover {
            background-color: #6FB7E9;
            transition: 0.3s ease;
        }

#column-left {
    width: 46.8%;
    float: left;
    margin-bottom: 2px;
}

#column-right {
    width: 46.8%;
    float: right;
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
        margin: 0 auto;
    }

    .form-container {
        margin: 0 2%;
    }

    input {
        font-size: 1em;
    }

    #input-button {
        width: 100%;
    }

    #input-field {
        width: 96.5%;
    }

    h1 {
        font-size: 1.2em;
    }

    input {
        margin: 2px 0;
    }

        input[type="submit"] {
            height: 50px;
        }

    #column-left {
        width: 96.5%;
        display: block;
        float: none;
    }

    #column-right {
        width: 96.5%;
        display: block;
        float: none;
    }
}
