﻿body {
    padding-top: 50px;
    height: 100vh;
    background-color: #e9ecef;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position:relative
}

.content {
    min-height: calc(100% - 91px);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23p40' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23p40' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.badge-count {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 11px;
    line-height: 1;
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    position: absolute;
    top: 2px;
    left: 26px;
}
.card{
    margin-bottom:15px !important;
}

.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: absolute;
    border-radius: 3px;
    padding: 20px;
    right:0;
    display:none;
   z-index:1000;
}

.shopping-cart-header {
    display:flex;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart-total {
    float: right;
}



.shopping-cart-items {
    padding-top: 20px;
    list-style:none;
}

.clearfix{
    margin-bottom:18px;
}

img {
    float: left;
    margin-right: 12px;
}

.item-name {
    display: block;
    padding-top: 10px;
    font-size: 18px;
    font-weight:bold;
}

.item-price {
    color: #6394F8;
    margin-right: 8px;
}

.item-quantity {
    color: #ABB0BE;
}


.shopping-cart:after {
    font: 14px/22px;
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.main-color-text {
    color: #6394F8;
}

.lighter-text {
    color: #ABB0BE;
}

.button {
    background: #6394F8;
    color: white !important;
    text-align: center;
    padding: 12px;
    text-decoration: none !important;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

    .button:hover {
       opacity:0.9;
    }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
