﻿@model  List<eshop.Core.Product>

@foreach (var prod in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div>
                <strong>
                    @prod.Name
                    @prod.Description
                </strong>&nbsp;
                <span>@prod.PriceProduct</span>&nbsp;
                <span>@prod.Stock</span>
            </div>
            @foreach (var img in prod.Image)
            {
                <img src="@img.Name" />
            }
            <hr />
        </div>
    </div>
}
