﻿@model List<eshop.Core.Product>

@{
    ViewBag.Title = "Home Page";

}
<h2>@ViewBag.Title.</h2>

<div id="ListProds" style="padding-top:20px;">

</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/Site/Index.js"></script>
}

